<div class="card text-center" style="width: 50%;margin: 5rem auto;">
    <div class="card-header">
        <h5>Car User</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <button type="button" class="btn btn-primary" (click)="setCarUser()">Set Logged In User As Current Car User</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-warning" (click)="resetCarUser()">Reset Current Car User</button>
        </ul>
    </div>
</div>